### Lemmatization for simple csv

In [1]:
import re
import pandas as pd
from pymystem3 import Mystem

m = Mystem()

In [2]:
test = 'Попробуй этих мягких французских булок'
lemma = m.lemmatize(test)
print(lemma) # list output

['попробовать', ' ', 'этот', ' ', 'мягкий', ' ', 'французский', ' ', 'булка', '\n']

In [3]:
import os
os.getcwd()

'/Users/tonya/Documents/thesis1830s/corpus35_pr/scr/00_preprocessing'

In [23]:
os.chdir('../periodicals')
os.listdir()

['per_raw.csv',
 '.DS_Store',
 'per_stressed',
 'per_corpus.Rds',
 'per_raw',
 'raw_texts.zip']

In [24]:
df = pd.read_csv('per_raw.csv')
df.head()

   Unnamed: 0 text_id                                               text
0           1     P_1  Ох, жизнь молодецкая,\nБравая, солдатская!\nКа...
1           2    P_10  Зачем с небесной высоты, \nИз горнего жилья, \...
2           3   P_100  Вблизи дороги столбовой\nНочует табор кочевой\...
3           4  P_1000  О чем грустишь так неутешно?\nУтраченных стяжа...
4           5  P_1001  Движим думою чудесной,\n"Здесь", Он молвил "бу...

In [25]:
len(df)

1905

In [26]:
df = df.loc[df.text.apply(lambda x: not isinstance(x, (float, int)))]

In [27]:
len(df)

1905

In [28]:
df['text_lemm'] = df['text'].apply(m.lemmatize)
df['text_lemm'] = [''.join(map(str, l)) for l in df['text_lemm']] 
#df['lemma'] = df['lemma'].str.replace('\n', '', regex = True)

In [29]:
df.tail()

,Unnamed: 0,text_id,text,text_lemm
1900,1901,P_995,"""Нож и шашку и винтовку.\nДа коня мне и чекмен...","""нож и шашка и винтовка.\nда конь я и чекмень\..."
1901,1902,P_996,"Горько плача и рыдая, \nПредстояла в сокрушень...","горько плакать и рыдать, \nпредстоять в сокруш..."
1902,1903,P_997,"У старушки у вдовицы,\nНа подпору дряхлых дней...","у старушка у вдовица,\nна подпора дряхлый день..."
1903,1904,P_998,"Во льдяных шлемах великаны\nСтоят, теряясь в н...","во льдяной шлем великан\nстоять, теряться в не..."
1904,1905,P_999,"Полночь, полночь гудит!.. Урочный бой раздался...","полночь, полночь гудеть!.. урочный бой раздава..."

In [30]:
df = df.drop('Unnamed: 0', axis = 1)
# df = df.drop('text', axis = 1)

In [31]:
print(df.head(1814))

     text_id                                               text  \
0        P_1  Ох, жизнь молодецкая,\nБравая, солдатская!\nКа...
1       P_10  Зачем с небесной высоты, \nИз горнего жилья, \...
2      P_100  Вблизи дороги столбовой\nНочует табор кочевой\...
3     P_1000  О чем грустишь так неутешно?\nУтраченных стяжа...
4     P_1001  Движим думою чудесной,\n"Здесь", Он молвил "бу...
...      ...                                                ...
1809    P_91  В годину печалей, тоски и ненастья,\nГонимый с...
1810   P_910  И гроб опущен уж в могилу, \nИ всё столпилося ...
1811   P_911  Восток белел... ладья катилась;\nВетрило весел...
1812   P_912  Как птичка, с раннею зарей\nМир, пробудившись,...
1813   P_913  Обеих вас я видел вместе –\nИ всю тебя узнал я...

                                              text_lemm
0     ох, жизнь молодецкий,\nбравый, солдатский!\nка...
1     зачем с небесный высота, \nиз горний жилье, \n...
2     вблизи дорога столбовой\nночевать табор кочево...
3     о что грустить так неутешно?\nутрачивать стяжа...
4     движимый дума чудесный,\n"здесь", он молвить "...
...                                                 ...
1809  в година печаль, тоска и ненастье,\nгонимый су...
1810  и гроб опускать уж в могила, \nи все столпилос...
1811  восток белеть... ладья катиться;\nветрило весе...
1812  как птичка, с ранний заря\nмир, пробуждаться, ...
1813  оба вы я видеть вместе –\nи весь ты узнавать я...

[1814 rows x 3 columns]

In [32]:
df.to_csv('per_corpus_lemm.csv')

In [4]:
os.chdir('../../data/ch5/')
os.listdir()

['corpus_1835_rhymewords.accented.txt',
 '.DS_Store',
 'nkrja_rhyme_words.csv',
 'corpus_1835_pos.csv',
 'dicts',
 'rnc_rhyme_words_lemmas.csv',
 'nkrja_rhyme_pairs.csv',
 'rhymer.txt',
 'corpus-35_rhymes.csv',
 'rnc_rhymes.csv',
 'rhymes_parsed.csv',
 'corpus_1835_unique_words.txt',
 'rhymes_parsed_closure.csv',
 'rhyme_words_lemmas.csv',
 'old_corpus_1835_rhymewords.accented.txt',
 'corpus_1835_rhymewords.txt']

In [5]:
df = pd.read_csv('rnc_rhyme_words_lemmas.csv')
df.head()

   Unnamed: 0       word
0           1   кантемир
1           2  равнялись
2           3    блистал
3           4  находился
4           5    спокоен

In [6]:
len(df)
df = df.loc[df.word.apply(lambda x: not isinstance(x, (float, int)))]
len(df)

225702

In [7]:
df['lemma'] = df['word'].apply(m.lemmatize)
df['lemma'] = [''.join(map(str, l)) for l in df['lemma']] 
df['lemma'] = df['lemma'].str.replace('\n', '', regex = True)

In [8]:
df.tail()

        Unnamed: 0    word    lemma
225697      225698   стана     стан
225698      225699   сияна    сиять
225699      225700     моя      мой
225700      225701  внимая  внимать
225701      225702  младая   младой

In [9]:
df = df.drop('Unnamed: 0', axis = 1)
# df = df.drop('text', axis = 1)

In [10]:
df.to_csv('rnc_rhyme_words_lemmas.csv')